<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="My Web Profile">
        <meta name="keywords" content="Web Developer">
        <meta name="author" content="Scott Patterson">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS STYLE SHEET -->
        <link rel="stylesheet" href="stylesheet.css">
        <title>Mr. Patterson</title>
        
    </head>
    <body>
    
        
        <section>
            <nav>
            
            </nav>
        </section>
        
        
        <!-- Main Blog of the page -->
        <main>
        
        </main>
        
        
        <!-- footer here -->
        <footer>
        
        </footer>
    
    </body>



</html>