main{
    background-color: lightgreen;    
}

.BC{
    background-color: lavender;
}

header{
    background-color: lightcoral;
}

footer{
    background-color: dimgrey;
}

body{
    background-color: lightblue;
}